{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

    <h1>Welcome!</h1>

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <ul>
    <li><a href="{{ path("customer_register") }}"> Register here to become a customer</a></li>


    <li><a href="{{ path("app_login") }}">login</a></li>
    </ul>
{% endblock %}
